#cloud-config
# System configuration
timezone: Europe/Zurich
local-hostname: fedora-vm

# User setup
users:
  - name: fedora
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_public_key}
  - name: alex
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_public_key}

# Update packages on first boot
package_update: true
package_upgrade: true
